input[type="text"] {
    font-size: 1.2vw;
}

button{
    background-color: gray; 
    border-color: black; 
    border-width: 1px;
    border-radius: 15px;
    font-size: 1.2;
}

p{
    font-size: clamp(2rem, -0.875rem + 8.333333vw, 1.25rem);
}
