input[type="text"] {
    font-size: 25px;
}

button{
    background-color: gray; 
    border-color: black; 
    border-width: 1px;
    border-radius: 15px;
    font-size: 25px;
}

p{
    font-size: 20px;
}